*{
box-sizing: border-box;
margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

    .container {
        /* border: 2px dotted green; */
        display: flex;
        width: 600px;
        height: 455px;
        background-color: hsl(0, 0%, 100%);
    }

    .mobile {
        display: none;
    } 

    .desktop {
        width: 300px;
    }

    .description {
        display : flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }

    .title {
        letter-spacing: 3px;
        margin-top: 20px;

    }

    h1, .para {
        padding-right: 50px;
    }

    h1, h2 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }

    h2{
        margin-right: 20px;
        color: hsl(158, 36%, 37%);
        font-size: 32px;
    }

    h3 {
        font-size: 12px;
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
    }


    .price {
        display: flex;
        align-items: center;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 250px;
        height: 50px;
        background-color: hsl(158, 36%, 37%);;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .svg {
        width: 15px;
    }

    .cart-txt {
        color: white;
    }


